VITE_SUPABASE_URL=https://mvhvslqvcmhwdtijryxv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12aHZzbHF2Y21od2R0aWpyeXh2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQzNDU3NTIsImV4cCI6MjA4OTkyMTc1Mn0.kmoMGi0PLTCUjq503XgON6nhK7Jolp_yOLARaBpnJMM